## gc routing email domains verification

/api/v2/routing/email/domains/{domainId}/verification

### Synopsis

/api/v2/routing/email/domains/{domainId}/verification

### Options

```
  -h, --help   help for verification
```

### Options inherited from parent commands

```
      --accesstoken string    accessToken override
      --clientid string       clientId override
      --clientsecret string   clientSecret override
      --environment string    environment override. E.g. mypurecloud.com.au or ap-southeast-2
  -i, --indicateprogress      Trace progress indicators to stderr
      --inputformat string    Data input format. Supported formats: YAML, JSON
      --outputformat string   Data output format. Supported formats: YAML, JSON
  -p, --profile string        Name of the profile to use for configuring the cli (default "DEFAULT")
      --transform string      Provide a Go template file for transforming output data
      --transformstr string   Provide a Go template string for transforming output data
```

### SEE ALSO

* [gc routing email domains](gc_routing_email_domains.html)	 - /api/v2/routing/email/domains
* [gc routing email domains verification create](gc_routing_email_domains_verification_create.html)	 - Restart domain verification
* [gc routing email domains verification get](gc_routing_email_domains_verification_get.html)	 - Get domain verification settings


